{{> header}}
    <div class="top">
      <div class="logo">
        <p><a href="/">GABRIELE PIROVANO</a></p>
      </div>
      <div class="galleryTitle">
        <p>{{galleryTitle}}</p>
      </div>
      <div class="menu">
        <p style="color: black">Contact me</p>
      </div>
    </div>
    <div class="main">
      <div class="contact_page">
        <div class="about">
          <p id="about">Hi there, <br /><br />I'm a photographer, explorer, and so much more.
            I like to capture the wworld and share my experiences with as many people as possible.
            Feel free to ge tin otuch if you woudl like to purchase any of my pictures.
            Currently offering prints on a variety of sizes and paper quality.<br /><br />Gabriele Pirovano</p>
        </div>
        <div class="form">
            <form id="contactForm" method = "POST" action = "/contact">
              <p>
                <label for="name">Name</label>
                <input type="text" id="name" name="name">
              </p>
              <p>
                <label for="email">Email</label>
                <input type="text" id="email" name="email">
              </p>
              <p style="font-size: 13.3333px;">
                Message</br>
                <textarea id="textarea" name="textarea" rows="10" cols="40"></textarea></br></br>
              </p>
                <input type="submit" value="Submit">
            </form>
        </div>

      </div>
    </div>
{{> footer}}
