{{> header}}
    <div class="top">
      <div class="galleryTitle">
        <p>GABRIELE PIROVANO</p>
      </div>
    </div>
    <div class="main">
      <div class="focus">
        <img src="http://gabrielepirovano.com/uploads/elohim.jpg" alt="Elohim night" />
      </div>
      <div class="title">
        <p>Elohim Night</p>
      </div>
    </div>
    <div class="menu">
      <p><span id="button"> <a href="/selection">GALLERY</a></span></p>
    </div>
{{> footer}}
