{{> header}}

      <div class="main">
        <div class="focus">
          <img src="/uploads/3.jpg" alt="Picture one" />
        </div>
        <div class="title">
          <p>Image title </p>
        </div>
        <div class="controls">
          <p>prev / next</p>
        </div>
      </div>

{{> footer}}
