body{
  font-family: Helvetica,arial,sans-serif;
  text-align: center;
  font-size: 12px;
  line-height: 0.3;
  color: grey;
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  color: grey;
}


@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.left{
  float: left;
  width: 22vw;
  padding-top: 1vh;
  max-height: 95vh;
  max-width: 22vw;
  padding-left: 1vw;
}


.title{
  float: left;
  text-align: left;
  width: 100%;
  font-size: 16px;
}

.menu{
  float: left;
  text-align: left;
  width: 100%;
  clear: both;
  margin: auto;
  font-size: 12px;
  padding-top: 24px;
  line-height: 10px;
}

.pictureTitle{
  position: absolute;
  float: left;
  text-align: left;
  width: 95%;
  font-size: 10px;
  bottom: 3vh;
  color: black;

}


.right{
  float: left;
  width: 67vw;
  padding-top: 2vh;
  max-height: 95vh;
  max-width: 70vw;
  padding-right: 2vw;
}


.focus{
  clear: both;
  padding-top: 2vh;
  max-height: 90vh;
  max-width: 69vw;
  margin: auto;
  z-index: 0;
}

.moveLeft{
  z-index: 1;
  position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 34vw; /* Full width (cover the whole page) */
    height: 94vh; /* Full height (cover the whole page) */
    top: 5vh;
    left: 24vw;
    right: 0;
    bottom: 0;
  cursor: pointer;
}

.moveRight{
  z-index: 1;
  position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 34vw; /* Full width (cover the whole page) */
    height: 94vh; /* Full height (cover the whole page) */
    top: 5vh;
    left: 57vw;
    right: 0;
    bottom: 0;
    cursor: pointer;
}


.controls{
  float: right;
  text-align: left;
  width: 100%;
  max-height: 4vh;
  font-size: 10px;
}



img{
  max-width: inherit;;
  max-height: inherit;
}
